/* Body = where the books are, the middle */
html, body {
    background-color: whitesmoke;
}
#Topwrapper {
    background-color: whitesmoke;
    height: calc(15vh);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;

    
    font-size: 2.8vh;
    /* font-size: max(2.8vh); */
    text-align: center;
    padding-top: 5vh;
    margin-bottom: 0;
    color: #2b2826;
}

#IntroText{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;

    font-size: 2.5vh;
    /* font-size: max(2vh); */
    text-align: center;
    margin-top: 0;  
    /* margin-bottom: 10;  */
    padding-bottom: 10px;
    color: #2b2826;
}

/*  */
/*  */

#ContentWrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    width: 100%;
    /* margin: 0 auto; */
    flex-direction: row;
    margin-left: auto;
    margin-top: zero;
}

/* think about width 100% and height auto */
.ChipTile {
    width: 23%;
    /* max-width: 200px; */
    padding: 0%;
    margin: 1% auto; 
    /* margin-left: 38vw; */
    background-color:whitesmoke;
}

.ChipTile img {
    width: 100%;

}



/*  */
#QuestionWrapper {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-style: normal;

  background-color:whitesmoke;
  margin-top: 2vh;

  /* margin-left: 25%; */

}

#Q1 {
 margin: 0;
 font-size: 3vh;
 text-align: center;
}

#PDF {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-style: normal;

  margin: 0;
  font-size: 2.5vh;
  text-align: center;
 }



#Q2, #Q3, #Q4, #Q5, #Q6, #Q7, #Q8, #PDF {
    display: none;
  } 

  #correct1:checked ~ #Q2 {
    display: block;
  }

  #correct2:checked ~ #Q3 {
    display: block;
  }

  #correct3:checked ~ #Q4 {
    display: block;
  }

  #correct4:checked ~ #Q5 {
    display: block;
  }

  #correct5:checked ~ #Q6 {
    display: block;
  }

  #correct6:checked ~ #Q7 {
    display: block;
  }

  #correct7:checked ~ #Q8 {
    display: block;
  }

  #correct8:checked ~ #PDF {
    display: block;
  }

  /* Answers: C, D, C, C, B, C, A, A  */


/* Viewport Sizes */
/* @media only screen and (max-width: 1200px) {
  h1 {
    font-size: 6.8vh;
    }
    
  #IntroText {
      font-size: 4.8vh;
      }


@media only screen and (max-width: 800px) {
  h1 {
      font-size: 2.8vh;
        }
      } */

#Bottomwrapper {
        background-color: whitesmoke;
        height: calc(15vh);
    }
