/* Body = where the books are, the middle */
html, body {
    background-color: whitesmoke;
    margin: 0;
}




/*  */
/*  */
#Topwrapper {
    background-color: whitesmoke;
    color: #945c38;
    height: calc(100vh - 75px);
    /* 100vh = the entire screen height, 100px tells comp to remove that from 100vh */
    /* height: 90vh; */
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;
     /* font size will take up 10% of the total width */
    font-size: 5vw; 
    text-align: center;
    padding-top: 270px;
    margin-bottom: 0;
}


#introtext{
    color: #e0af8e;;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 2vw; 
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: center;  
    text-decoration: none;
    /* inherit makes it take the color of surrounding text */
    /* color: inherit; */
}



/*  */
/*  */


/* exclusively wraps the book  */
#bookwrapper {
    display: flex;
    flex-wrap: wrap;
    width: 93%;
    margin: 0 auto;
    /* margin - auto, helps it be center since it knows how wide it is  */
}

.booktile {
    width: 15%;
    padding: 4%;
    margin: 1%;
    background-color:#E8D4C6;
}

.booktile img {
    width: 100%;
}
/*  */
/*  */


#Bottomwrapper {
    background-color: whitesmoke;
    color: #945c38;
    /* height: 25vw;  */
    /* margin-top: 20px; */
    font-size: 10px;
}


#outrotext{ 
    font-family: "Coming Soon", serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    font-size: 2vw; 
    /* inherit makes it take the color of surrounding text */
    color:#e0af8e;
    margin-top: 20vw;
    margin-bottom: 0px;
}

#outrotext a:hover {
    color: black;
}



/*  */
/*  */

#BookTitleWrapper {
    margin-bottom: 0px;
}

#BookTitle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 2vw; 
    text-align: center;
    padding-top: 80px;
    margin-top: 0px;
    margin-bottom: 0;
    color: #945c38; 
}

#introtext1{
    font-family: "Coming Soon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw; 
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;  
    text-decoration: none;
    color: #bc8660
}

/* wraps the row of the book */
#bookwrapper1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.booktile1 {
    width: 8%;
    padding: 1%;
    margin: 1%;
    margin-left:45%;
    background-color:white;
}

.booktile1 img {
    width: 100%;
}

#stars {
    text-align: center;
    font-size: 3vw; 
}


table {
    position: absolute;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 40px;
}

/* th = table header */
table th {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    text-align: left;
    border: 0.5px solid black;
    color: #945c38;
}

/* td = table data */
table td {
    font-family: 'Courier New', Courier, monospace;
    border: 0.5px solid black;
    background-color: whitesmoke;
}

#Bottomwrapper1 {
    background-color: whitesmoke;
    color: #945c38;
    height: 25vh;
    margin-top: 150px;
    margin-bottom: 0px;
    /* 100vh = the entire screen height, 100px tells comp to remove that from 100vh */
    /* height: 90vh; */
}

#outrotext1 { 
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 10px;
    position: relative;
    width: 95%;
    /* inherit makes it take the color of surrounding text */
    color: inherit;
}

#WR_container_wrapper {
    margin-bottom: 20px;
}

.smallimage {
    width: 100px;
    margin-left: 45vw;

}

#defaultW {
    position: absolute;
    clip-path: polygon (10% 10%, 50% 0%,50% 100%, 10% 90%, 0% 50%);
}

#defaultR {
    position: absolute;
    clip-path: polygon(50% 0%, 90% 10%, 100% 50%, 90% 90%, 50% 100%);
}

.hoverW {
    opacity: 0;
    width: 100px;
    position: absolute;
    margin-left: 45vw;
    pointer-events: none;
}

.hoverR {
    opacity: 0;
    width: 100px;
    position: absolute;
    margin-left: 45vw;
    pointer-events: none;
}

#defaultW:hover~.hoverW {
    opacity: 1;
}

#defaultR:hover~.hoverR {
    opacity: 1;
}