/* Body = where the books are, the middle */
html, body {
    background-color: white;
    margin: 0;
}


/*  */
/*  */
#Topwrapper {
    background-color: white;
    color: #945c38;
    height: calc(100vh - 215px);
    /* height:  */
    /* 100vh = the entire screen height, 100px tells comp to remove that from 100vh */
    /* height: 90vh; */
}



h1 {
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-style: normal;
     /* font size will take up 10% of the total width */
    font-size: 5vw; 
    text-align: center;
    padding-top: 145px;
    margin-bottom: 0;
    color: #D90404;
}


#introtext{
    color: black;;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2vw; 
    margin-bottom: 50px;
    margin-top: 0px;
    text-align: center;  
    text-decoration: none;
    color: black;
    /* inherit makes it take the color of surrounding text */
    /* color: inherit; */
}


/*  */
/*  */
/* exclusively wraps the book  */
#bookwrapper {
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    width: 93%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    /* margin - auto, helps it be center since it knows how wide it is  */
}

.booktile {
    width: 10%;
    padding: 4%;
    margin: 1%;
    background-color:black;
}

.booktile img {
    width: 100%;
}

/*  */
/*  */


#Scrollwrapper {
    background-color: red;
    color: white;
    height: 25vw; 
    position: sticky;
    top: 0;
    min-height: 850vh;

    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;

    font-size: 5vh; 
    text-align: center;
}

/* .scroll-section {
    height: 200vh;
    padding: 2em;
    background: #f4f4f4;
    font-family: 'Rubik', sans-serif;
  } */
  
  .sticky {
    position: sticky;
    z-index: 10;
    padding: 10vh;
    font-size: 3vh;
  }

  .spacer {
    height: 50vh; /* Adds space to force scrolling */
  }
  
  .hover-link {
    color: #F56C79;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .hover-link:hover {
    color: white;
  }




#Bottomwrapper {
    background-color: red;
    color: black;
    position: sticky;
    /* height: 25vw;  */
    /* margin-top: 20px; */
    font-size: 10px;
}


#outrotext{ 
    font-family: "Coming Soon", serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    font-size: 2vw; 
    /* inherit makes it take the color of surrounding text */
    color:#e0af8e;
    margin-top: 20vw;
    margin-bottom: 0px;
}

#outrotext a:hover {
    color: black;
}



/*  */
/*  */

#BookTitleWrapper {
    margin-bottom: 0px;
}

#BookTitle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 2vw; 
    text-align: center;
    padding-top: 80px;
    margin-top: 0px;
    margin-bottom: 0;
    color: #945c38; 
}

#introtext1{
    font-family: "Coming Soon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw; 
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;  
    text-decoration: none;
    color: #bc8660
}

/* wraps the row of the book */
#bookwrapper1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.booktile1 {
    width: 8%;
    padding: 1%;
    margin: 1%;
    margin-left:45%;
    background-color:white;
}

.booktile1 img {
    width: 100%;
}

#stars {
    text-align: center;
    font-size: 3vw; 
}


table {
    position: absolute;
    width: 75%;
    margin-left: 12.5%;
    margin-top: 40px;
}

/* th = table header */
table th {
    font-family: 'Courier New', Courier, monospace;
    background-color: whitesmoke;
    text-align: left;
    border: 0.5px solid black;
    color: #945c38;
}

/* td = table data */
table td {
    font-family: 'Courier New', Courier, monospace;
    border: 0.5px solid black;
    background-color: whitesmoke;
}

#Bottomwrapper1 {
    background-color: white;
    color: #945c38;
    height: 25vh;
    margin-top: 150px;
    margin-bottom: 0px;
    /* 100vh = the entire screen height, 100px tells comp to remove that from 100vh */
    /* height: 90vh; */
}

#outrotext1 { 
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 10px;
    position: relative;
    width: 95%;
    /* inherit makes it take the color of surrounding text */
    color: inherit;
}

.booktile img:hover {
    transform: scale(1.10);
  }





/*  */
/* Web ring !!  */
/*  */

#WR_container_wrapper {
    margin-bottom: 2px;
    min-height: 100px;
}
.smallimage {
    width: 100px;
    margin-left: 3vw;
    margin-top: 2vw;

}
#defaultW {
    position: absolute;
    clip-path: polygon (10% 10%, 50% 0%,50% 100%, 10% 90%, 0% 50%);
}
#defaultR {
    position: absolute;
    clip-path: polygon(50% 0%, 90% 10%, 100% 50%, 90% 90%, 50% 100%);
}
.hoverW {
    opacity: 0;
    width: 100px;
    position: absolute;
    margin-left: 3vw;
    margin-top: 2vw;
    pointer-events: none;
}
.hoverR {
    opacity: 0;
    width: 100px;
    position: absolute;
    margin-left: 3vw;
    margin-top: 2vw;
    pointer-events: none;
}
#defaultW:hover~.hoverW {
    opacity: 1;
}
#defaultR:hover~.hoverR {
    opacity: 1;
}
/*  */
/* Web ring !!  */
/*  */