
body {
  margin: 0;
  overflow: hidden;
  background: black;
  background: ('#FFFFFF');
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

#ui {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 8px;
  font-size: 14px;
}

button:hover {
  background: rgb(255, 255, 255);
}
